<template>
    <div class="nj-error" v-if="errorMessage !== ''" :class="{ 'nj-has-error': errorMessage }">{{ errorMessage }} <span class="nj-error-dismiss" @click="$emit('dismissError')">x</span></div>
</template>

<script>
  export default {
    name: 'error',
    props: ['errorMessage'],
    data: function() {
      return { message: this.errorMessage }
    },
    methods: {
      dismissError() {
        this.message = ''
      }
    },

  }
</script>

<style lang="scss" scoped>
    .nj-error {
        display: block;
        opacity: 0;
        margin: auto;
        text-align: left;
        padding: 20px;
        font-size: 1.5rem;
        color: red;
        position: absolute;
        bottom: 15px;
        right: 15px;
        border: 1px solid red;
        border-top: 20px solid red;
        box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
        transition: all .1s ease-in-out;
        background: #fefefe;


        &.nj-has-error {
            opacity: 1;
        }

        .nj-error-dismiss {
            vertical-align: middle;
            cursor: pointer;
            position: absolute;
            top: -20px;
            right: 5px;
            color: #fefefe;
            font-weight: bold;
            font-size: 1.2rem;

            &::selection {
                background: transparent;
            }
        }

        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }

        @media screen and (max-width: 600px) {
            left: 15px;
            font-size: 1rem;
        }
    }
</style>