<template>
    <div class="nj-modal" v-if="showModal"><h5>Transaction History</h5>
        <ul>
            <li v-for="tx in transactions"><span class="label">{{ tx.txDate }} ({{ tx.txStatus }}): </span>{{ tx.txAmount | currency }}<span class="cancel" v-if="tx.txStatus === 'pending'" @click="cancelTransaction(tx.txId)">X</span><span class="empty-space" v-else></span></li>
        </ul>
        <span class="nj-button" @click="$emit('closeModal')">OK</span>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    name: 'txHistory',
    props: ['showModal'],
    computed: {
      ...mapGetters({
        transactions: 'getTxs',
        pendingContributions: 'getPendingContributions',
        groupTotal: 'getGroupTotal'
      })
    },
    methods: {
      cancelTransaction(id) {
        this.$store.commit('CANCEL_TRANSACTION', id);
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    $primary-light: #68979B;
    $primary-white: #fefefe;
    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 20px 30px;
            text-align: right;
            border-bottom: 1px solid #ebebeb;
            font-size: 1.8rem;

            &:first-of-type {
                border-top: 1px solid #ebebeb;
            }

            .label {
                height: 2rem;
                line-height: 2.3rem;
                vertical-align: middle;
                font-size: 1.5rem;
                float: left;
            }

            .cancel {
                width: 40px;
                margin-left: 10px;
                text-align: center;
                color: red;
                cursor: pointer;
                display: inline-block;
            }

            .empty-space {
                display: inline-block;
                width: 40px;
                margin-left: 10px;
            }
        }
    }

    .nj-modal {
        display: block;
        width: 100%;
        max-height: calc(100vh - 15px);
        max-width: calc(100% - 60px);
        margin: auto;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #030303;
        box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
        background: #fefefe;

        .nj-modal-message {
            padding: 20px;
            color: #030303;
            text-align: center;
            font-size: 1.5rem;

            @media screen and(max-width: 768px) {
                font-size: 1.2rem;
            }
        }

        .nj-modal-buttons {
            width: 100%;
            max-width: 600px;
            margin: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            .nj-button {
                margin-top: 20px !important;
            }
        }
    }
</style>
