<template>
    <div class="nj-modal" v-if="modalMessage !== ''" >
        <ul class="nj-modal-message">
            <li v-for="item in modalList">{{ item }}</li>
        </ul>
        <div class="nj-modal-buttons">
            <span class="nj-button" @click="$emit('closeModal')">OK</span>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'modal-list',
    props: ['modalList'],
    data: function() {
      return { message: this.modalList }
    }
  }
</script>

<style lang="scss" scoped>
    .nj-modal {
        display: block;
        width: 100%;
        max-height: calc(100vh - 15px);
        max-width: calc(100% - 60px);
        margin: auto;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #030303;
        box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
        background: #fefefe;

        .nj-modal-message {
            padding: 20px;
            color: #030303;
            text-align: center;
            font-size: 1.5rem;

            @media screen and(max-width: 768px) {
                font-size: 1.2rem;
            }
        }

        .nj-modal-buttons {
            width: 100%;
            max-width: 600px;
            margin: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            .nj-button {
                margin-top: 20px !important;
            }
        }
    }
</style>