<template>
  <ul>
    <li><span class="label">Total in Jar: </span>{{ groupTotal | currency }}</li>
    <li><span class="label">Pending Contributions: </span>{{ pendingContributions | currency }}</li>
  </ul>
    <!--<ul>-->
      <!--<li v-for="tx in transactions">{{ tx.txId }}</li>-->
    <!--</ul>-->
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    name: 'txs',
    computed: {
      ...mapGetters({
        transactions: 'getTxs',
        pendingContributions: 'getPendingContributions',
        groupTotal: 'getGroupTotal'
      })
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  $primary-light: #68979B;
  $primary-white: #fefefe;
  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 20px 30px;
      text-align: right;
      border-bottom: 1px solid #ebebeb;
      font-size: 1.8rem;

      &:first-of-type {
        border-top: 1px solid #ebebeb;
      }

      .label {
        height: 2rem;
        line-height: 2.3rem;
        vertical-align: middle;
        font-size: 1.5rem;
        float: left;
      }
    }
  }
</style>
