<template>
    <div>
        <div class="silhouette">
            <img src="../assets/glasses.png">
        </div>
        <h2>{{ realName }}</h2>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    name: 'Welcome',
    computed: {
      ...mapGetters({
        userName: 'getUserName',
        realName: 'getRealName'
      })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>