<template>
    <div class="nj-wrapper">
        <welcome></welcome>
        <div id="tx-counter">
            <h3>Amount to Contribute:</h3>
            <div class="nj-row">
                <span id="tx-amount">{{ txAmount | currency }}</span>
                <div class="increment-button" @click="decreaseAmount">
                    <span  id="increment-button-minus">-</span>
                </div>
                <div class="increment-button" @click="incrementAmount">
                    <span  id="increment-button-plus">+</span>
                </div>

            </div>
            <a href class="nj-button" @click="showModal">GO</a>
        </div>
        <error :errorMessage="errorMessage" @dismissError="dismissError"></error>
        <modal @confirmModal="addTransaction" @closeModal="closeModal" :modalMessage="modalMessage"></modal>
    </div>
</template>

<script>
  import Welcome from '@/components/Welcome'
  import Error from '@/components/Error'
  import Modal from '@/components/Modal'
  import { mapGetters } from 'vuex'

  export default {
    name: 'add',
    computed: {
      ...mapGetters({
        pendingContributions: 'getPendingContributions'
      })
    },
    data: () => {
        return {
          txAmount: 0.25,
          incAmount: 0.25,
          errorMessage: '',
          modalMessage: ''
        }
    },
    components: {
      Welcome,
      Error,
      Modal
    },
    methods: {
      incrementAmount() {
        if(this.txAmount < 5) {
          this.txAmount += this.incAmount
        } else {
          this.errorMessage = 'Sorry, but you can not contribute more than $5.00 at a time'
        }
      },
      decreaseAmount() {
        if(this.txAmount > .25) {
          this.txAmount -= this.incAmount
        } else {
          this.errorMessage = 'Sorry, but you can not contribute less than $0.25'
        }
      },
      addTransaction() {
        console.log('confrim')
        if(this.txAmount <= 5 && this.txAmount >= .25) {
            this.$store.commit('ADD_TRANSACTION', {amount: this.txAmount})
            this.$router.push({ name: 'menu' })
        } else if(this.txAmount > 5) {
          this.errorMessage = 'Sorry, but you can not contribute more than $5.00 at a time'
        } else if(this.txAmount < .25) {
          this.errorMessage = 'Sorry, but you can not contribute less than $0.25'
        }
      },
      dismissError() {
        this.errorMessage = ''
      },
      showModal(e) {
        e.preventDefault();
        this.modalMessage = `You are adding $${parseFloat(this.txAmount).toFixed(2)} to the jar. Press OK to confirm.`
        console.log(this.modalMessage)
      },
      closeModal() {
        this.modalMessage = ''
      }
    }
  }
</script>

<style lang="scss" scoped>
    #tx-counter {
        width: 100%;
        max-width: 600px;
        margin: auto;


        #tx-amount {
            height: 80px;
            line-height: 80px;
            font-size: 2rem;
            margin-right: 50px;
        }

        .increment-button {
            display: table;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #FF4081;
            color: #fefefe;
            font-weight: bold;
            cursor: pointer;
            font-size: 2rem;
            box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);

            #increment-button-plus, #increment-button-minus {
                display: table-cell;
                vertical-align: middle;

                &::selection {
                    background: transparent;
                }
            }
        }
    }
</style>