<template>
    <div class="nj-wrapper">
        <welcome></welcome>
        <div id="main-menu">
            <transactions></transactions>
        </div>
        <div class="nj-wrapper nj-row">
            <!--<a href="/#/add">Add to jar!</a>-->
            <router-link :to="{name: 'Add'}" class="nj-button-wrap">
                <div class="nj-button-svg" v-html="icons.money"></div>
                <p>Add to jar!</p>
            </router-link>
            <a class="nj-button-wrap" @click="showModal = true">
                <div class="nj-button-svg" v-html="icons.calendar"></div>
                <p>Transaction History</p>
            </a>
        </div>
        <history :showModal="showModal" @closeModal="showModal = false"></history>
    </div>
</template>

<script>
  import Welcome from '@/components/Welcome'
  import Transactions from '@/components/Transactions'
  import History from '@/components/History'
  import { mapGetters } from 'vuex'
  import Modal from "../../components/Modal.vue";

  export default {
    name: 'menu',
    computed: {
      ...mapGetters({
        pendingContributions: 'getPendingContributions',
        icons: 'getIcons'
      })
    },
    data: () => {
      return {
        showModal: false
      }
    },
    components: {
      Modal,
      Welcome,
      Transactions,
      History
    }
  }
</script>

<style lang="scss" scoped>
    #main-menu {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
</style>