<template>
  <div id="app">
    <!--<img src="./assets/logo.png">-->
    <!--<router-view name="welcome"></router-view>-->
    <router-view></router-view>
  </div>
</template>

<script>
  import Welcome from './components/Welcome.vue'
  export default {
    name: 'app',
    components: {Welcome}
  }
</script>

<style lang="scss">
  $primary-dark: #236167;
  $primary-light: #68979B;
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;

    .nj-wrapper {
      width: 100%;
      max-width: 600px;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;

      &.nj-row {
        flex-flow: row wrap;
      }
    }

    .nj-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }

    .nj-button {
      border: 2px solid #FF4081;
      border-radius: 4px;
      color: #FF4081;
      background: transparent;
      text-decoration: none;
      transition: all .2s ease-in-out;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      min-width: 150px;
      max-width: 250px;
      display: block;
      height: 50px;
      line-height: 55px;
      clear: both;
      margin: auto;
      cursor: pointer;

      &::selection {
        background: transparent;
      }


      &:hover {
        background: #FF4081;
        color: #fefefe;
      }
    }

    .nj-button-wrap {
      display: flex;
      flex-flow: column nowrap;
      max-width: 80px;
      text-decoration: none;
      padding: 20px;
      height: 120px;
      cursor: pointer;

      .nj-button-svg {
        margin: auto;
        margin-top: 0;

        svg {
          width: 100%;
        }
      }

      p {
        margin: 0 auto;
        color: #030303;
      }
    }
  }
</style>
